.gallery{

    @include media-breakpoint-down(sm){
        height: 757px;
        &__image{
            width: 41.38vw;
            height: auto;
        }
        &__title{
            font-size: 28px;
            line-height: 40px;
        }
        &__shadow{
            height: 112px;
        }
    }

    @include media-breakpoint-between(sm, md){
        height: 1220px;
        &__image{
            width: 43.83vw;
            height: auto;
        }
        &__title{
            font-size: 40px;
            line-height: 60px;
        }
        &__shadow{
            height: 235px;
        }
    }

    @include media-breakpoint-down(md){
        margin-top: var(--margin-top-40);
        &__title{
            padding-top: var(--margin-top-40);
        }
        &__container{
            column-count: 2;
            margin: auto;
            margin-top: var(--margin-top-40);
        }
    }

    @include media-breakpoint-between(md, xl){
        margin-top: var(--margin-top-60);
        height: 1460px;

        &__container{
            column-count: 3;
            margin: auto;
            margin-top: var(--margin-top-60);
        }
        &__image{
            width: 29.69vw;
            height: auto;
        }
        &__title{
            font-size: 50px;
            line-height: 75px;
            padding-top: var(--margin-top-60);
        }
        &__shadow{
            height: 239px;
        }
    }

    @include media-breakpoint-down(xl){
        padding: 0 20px;
    }

    @include media-breakpoint-up(xl){
        padding: 0 12.3%;
        margin-top: var(--margin-top-75);
        height: 2200px;

        &__container{
            column-count: 3;
            margin: auto;
            margin-top: var(--margin-top-75);
        }
        &__image{
            width: 23.75vw;
            height: auto;
        }
        &__title{
            font-size: 80px;
            line-height: 90px;
            padding-top: var(--margin-top-75);
        }
        &__shadow{
            height: 360px;
        }

    }

    width: 100%;
    overflow: hidden;
    position: relative;
    background-color: var(--palette-primary-main);
    font-weight: var(--typography-fontWeightLight);
    letter-spacing: 5px;

    &__title{
        font-family: var(--typography-fontFamily-headings);
        color: var(--palette-primary-text);
    }
    &__image{
        margin-top: 24px;
    }
    &__shadow{
        background: linear-gradient(to top, var(--palette-primary-main), var(--palette-primary-main-opacity));
        position: absolute;
        bottom: 0;
        width: 100%;
    }
    &__container{
        left: 0;
        width: 100%;
        gap: 20px;
    }

}