.parallax{

    @include media-breakpoint-down(md){
        height: 300px;
        margin-top: var(--margin-top-40);
    }
    @include media-breakpoint-up(md){
        height: 400px;
    }
    @include media-breakpoint-between(md, xl){
        margin-top: var(--margin-top-60);
    }
    @include media-breakpoint-up(xl){
        margin-top: var(--margin-top-75);
    }

    width: 100%;
    background-image: url("../../../img/parallax/parallax-image.webp");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    &__img{
        width: 100%;
        object-fit: cover;
    }
}

