.registration{
    @include media-breakpoint-down(sm){
        width: 100%;
        padding-bottom: 50px;
        &__title{
            font-size: 8vw;
            line-height: 35.33px;
        }
        
    }


    @include media-breakpoint-between(sm, md){
        width: 76.82%;
        padding-bottom: 40px;
        &__title{
            font-size: 6vw;
        }
    }

    @include media-breakpoint-up(sm){
        &__title{
            line-height: 55.2px;
        }        
    }

    @include media-breakpoint-down(md){
        padding-top: 30px;
        &__a-button{
            font-size: 20px;
            line-height: 23.44px;
        }
        &__div-name, &__div-button-sing-up{
            margin-top: var(--margin-top-40);
        }
    }

    @include media-breakpoint-between(md, xl){
        width: 100%;
        padding: 30px 27px;
        &__title{
            font-size: 45px;
        }
        &__div-name, &__div-button-sing-up{
            margin-top: var(--margin-top-60);
        }
    }

    @include media-breakpoint-up(md){
        &__a-button{
            font-size: 22px;
            line-height: 25.78px;
        }

    }

    @include media-breakpoint-down(xl){
        padding-inline: 30px;
    }

    @include media-breakpoint-up(xl){
        width: 75%;
        max-width: 1440px;
        padding: 29px 90px;
        &__title{
            font-size: 50px;
        }
        &__div-name, &__div-button-sing-up{
            margin-top: var(--margin-top-75);
        }
    }

    border: 1px solid var(--palette-primary-dark);
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    flex-direction: column;
    height: auto;
    input::-moz-placeholder { color: var(--palette-secondary-text); }
    input::-webkit-input-placeholder { color: var(--palette-secondary-text); }

    &__div-email, &__div-phone, &__div-password{
        margin-top: 26px;
    }
    &__button{
        width: 25px;
        height: 25px;
        background-image: url('../../img/form/Close.png');
        background-position: center;
        background-size: 25px 25px;
        background-color: var(--palette-primary-light);
        border: none;
        margin-right: 0;
        margin-left: auto;
        cursor: pointer;
    }
    &__logo{
        width: 85px;
        height: 41px;
        margin-top: 10px;
    }
    &__title{
        font-weight: var(--typography-fontWeightLight);
        font-family: var(--typography-fontFamily-headings);
        color: var(--palette-secondary-light);
        margin-top: 10px;
    }
    &__line{
        background-color: var(--palette-primary-dark);
        width: 100%;
        height: 3px;
        margin-top: 10px;
    }
    &__div{
        font-size: 18px;
        font-family: var(--typography-fontFamily);
        line-height: 21.09px;
        border: 1px solid var(--palette-primary-main);
        height: 45px;
        display: flex;
        align-items: center;
        padding-inline: 15px;
        width: 100%;
    }
    &__div-name:before{
        width: 28px;
        height: 15px;
        padding-right: 15px;
        content: url('../../img/form/icon-user.svg');
    }
    &__div-password:before{
        width: 15px;
        height: 17px;
        margin-right: 15px;
        content:"";
        background-image: url('../../img/admin/password.png');
        background-size: 15px 17px;
        background-position: center;
        
    }
    &__div-email:before{
        width: 30px;
        height: 11px;
        padding-right: 15px;
        margin-top: -10px;
        content: url('../../img/form/icon-email.svg');
    }
    &__div-phone:before{
        width: 29px;
        height: 23px;padding-right: 15px;
        content: url('../../img/form/icon-tel.svg');
    }
    &__div-button{
        width: 220px;
        height: 45px;
        background-color: var(--palette-primary-dark);
        @extend %flex-center-G;
        @extend %flex-center-V;
        cursor: pointer;
        margin-right: 0;
        margin-left: auto;
    }
    &__a-button{
        color: var(--palette-primary-text);
        font-family: var(--typography-fontFamily);
        font-weight: var(--typography-fontWeightLight);
    }
    &__div-button-log-in{
        margin-top: 26px;
    }
}
.margin-registration{
    width: 100%;
    height: auto;
    @extend %flex-center-V;
    @extend %flex-center-G;
}