.tickets{

    @include media-breakpoint-down(sm){
        height: 180.71%;
        &__title{
            font-size: 28px;
            line-height: 40px;
        }
        &__img{
            object-fit: cover;
            width: 90.48vw;
            height: 38.10vw;
        }
        &__line, &__container{
            width: 90.48vw;
        }
        &__subtitle, &__text{
            font-size: 16px;
            line-height: 18.75px;
        }
        &__button{
            font-size: 16px;
        }
        &__container{
            display: flex;
            flex-direction: column;
        }
        &__group-cost{
            margin-left: 24.29vw;
            margin-top: 40px;
        }
        &__text-18, &__text-65{
            margin-top: 20px;
        }
        &__border{
            margin-top: 15px;
        }
        &__cost, &__subtitle-2{
            text-align: center;
            width: 175px;
        }
    }


    @include media-breakpoint-between(sm, md){
        height: 82.42%;

        &__title{
            font-size: 40px;
            line-height: 60px;
        }
        &__img{
            object-fit: cover;
            width: 57.81vw;
            height: 44.27vw;
        }
        &__line, &__container{
            width: 94.79vw;
        }
        &__text-18{
            margin-top: 39px;
        }
        &__text-65{
            margin-top: 25px;
        }
        &__border{
            margin-top: 10px;
        }
    }

    @include media-breakpoint-up(sm){
        &__subtitle{
            font-size: 28px;
            line-height: 32.81px;
        }
        &__text, &__button{
            font-size: 22px;
            line-height: 25.78px;
        }
        &__container{
            display: flex;
            justify-content: space-between;
            gap: 20px;
        }
    }


    @include media-breakpoint-down(md){
        &__title{
            margin-top: var(--margin-top-40);
        }
        &__container{
            margin-top: var(--margin-top-40);
        }
        &__cost, &__button{
            margin-top: 40px;
        }
    }

    @include media-breakpoint-between(md, xl){
        height: 73.24%;

        &__title{
            font-size: 50px;
            line-height: 75px;
            margin-top: var(--margin-top-60);
        }
        &__img{
            object-fit: cover;
            width: 68.36vw;
            height: 42.97vw;
        }
        &__line, &__container{
            width: 96.09vw;
        }
        &__container{
            margin-top: var(--margin-top-60);
        }
        &__text-18, &__text-65{
            margin-top: 29px;
        }
        &__cost{
            margin-top: 25px;
        }
        &__button{
            margin-top: 69px;
        }
    }

    @include media-breakpoint-up(md){
        &__border{
            margin-top: 15px;
        }
    }

    @include media-breakpoint-down(xl){
        padding-inline: 20px;
        &__line{
            margin-top: 20px;
        }
        &__div-radio{
            display: none;
        }
        &__border{
            width: 175px;
        }
    }

    @include media-breakpoint-up(xl){
        height: 46.51%;
        padding-inline: 12.3%;

        &__title{
            font-size: 80px;
            line-height: 90px;
            margin-top: var(--margin-top-75);
        }
        &__img{
            object-fit: cover;
            width: 37.50vw;
            height: 28.65vw;
        }
        &__line, &__container{
            margin-top: 25px;
            width: 75vw;
        }
        &__container{
            margin-top: var(--margin-top-75);
        }
        &__border{
            width: 150px;
            margin-left: auto;
            margin-right: 0;
        }
        &__subtitle-2{
            text-align: right;
        }
        &__text-18{
            margin-top: 25px;
        }
        &__text-65{
            margin-top: 10px;
        }
        &__cost{
            margin-top: 50px;
        }
        &__button{
            margin-top: 82px;
        }
        &__text-18, &__text-65, &__cost{
            margin-left: 23px;
        }
        &__div-radio{
            margin-right: 8.42vw;
            width: 14.06vw;
        }
        &__radio{
            width: 17px;
            height: 17px;
            cursor: pointer;
            &::after{
                content: url('../../img/tickets/radio_none_checked.png');
            }
        }
        &__radio-1{
            &::after{
                content: url('../../img/tickets/radio_checked.png');
            }
        }
        &__div-point{
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-top: 25px;
        }
        &__form{
            margin-top: 25px;
        }
        &__text-point{
            margin-left: 1.04vw;
        }
    }

    width: 100%;
    background-color: var(--palette-primary-light);

    &__title{
        font-family: var(--typography-fontFamily-headings);
        color: var(--palette-tertiary-text);
        letter-spacing: 5px;
        font-weight: var(--typography-fontWeightLigh);
    }
    &__line{
        background-color: var(--palette-primary-dark);
        height: 3px;
    }
    &__subtitle{
        font-weight: var(--typography-fontWeightMedium);
    }
    &__button{
        background-color: var(--palette-primary-main);
        color: var(--palette-primary-text);
        border-radius: 4px;
        width: 175px;
        height: 50px;
        letter-spacing: 2px;
        text-align: center;
        cursor: pointer;
    }
    &__subtitle, &__text, &__button, &__border{
        font-family: var(--typography-fontFamily);
        font-weight: var(--typography-fontWeightLight);
    }
    &__border{
        border: 3px solid var(--palette-primary-main);
        height: 50px;
        @extend %flex-spase-between-G;
        @extend %flex-row;
        @extend %flex-center-V;
        padding: 0 10px;
    }
    &__count{
        font-size: 22px;
        line-height: 25.78px;
    }
    &__mark{
        font-size: 32px;
        line-height: 37.5px;
        cursor: pointer;
    }
}