.video{

    @include media-breakpoint-down(sm){
        height: 113.10%;

        &__title{
            font-size: 28px;
            line-height: 40px;
        }
        &__main-frame{
            height: 53.81vw;
        }
        &__frame, &__overlay{
            width: 42.86vw;
            height: 24.05vw;
            margin-top: var(--margin-top-40);
        }
        &__form{
            margin-top: 40px;
            width: 174px;
        }
        &__arrow{
            width: 7px;
            height: 8px;
        }
        &__span{
            width: 8px;
            height: 8px;
        }
        &__frame-2, &__overlay-2{
            margin-left: 20px;
        }
        &__container{
            gap: 5px;
        }
    }

    @include media-breakpoint-up(sm){
        &__arrow{
            width: 10px;
            height: 12px;
        }
        &__container{
            gap: 20px;
        }
    }

    @include media-breakpoint-between(sm, xl){
    }

    @include media-breakpoint-between(sm, md){
        height: 98.57%;

        &__title{
            font-size: 40px;
            line-height: 60px;
        }
        &__main-frame{
            height: 50.26vw;
        }
        &__frame, &__overlay{
            width: 46.09vw;
            height: 25.91vw;
            margin-top: 20px;
        }
        &__form{
            margin-top: 20px;
            width: 190px;
        }
        &__span{
            width: 10px;
            height: 10px;
        }
    }

    @include media-breakpoint-down(md){
        margin-top: var(--margin-top-40);
        &__frame-3, &__overlay-3{
            display: none;
        }
        &__main-frame, &__form{
            margin-top: 20px;
        }
        &__overlay-2{
            right: 0;
        }
    }

    @include media-breakpoint-between(md, xl){
        height: 86.04%;
        margin-top: var(--margin-top-60);

        &__title{
            font-size: 50px;
            line-height: 75px;
        }
        &__main-frame{
            height: 49.22vw;
            margin-top: var(--margin-top-40);
        }
        &__frame, &__overlay{
            width: 29.30vw;
            height: 16.60vw;
        }
    }

    @include media-breakpoint-up(md){
        &__frame, &__form, &__overlay{
            margin-top: var(--margin-top-40);
        }
        &__span{
            width: 12px;
            height: 12px;
        }
        &__form{
            width: 200px;
        }
        &__overlay-2{
            right: 34.5%;
        }
    }

    @include media-breakpoint-down(xl){
        padding-inline: 20px;

        &__subtitle{
            display: none;
        }
    }

    @include media-breakpoint-up(xl){
        height: 64.90%;
        padding-inline: 12.3%;
        margin-top: var(--margin-top-75);

        &__title{
            font-size: 80px;
            line-height: 90px;
        }
        &__subtitle{
            font-size: 22px;
            font-family: var(--typography-fontFamily);
            line-height: 38.5px;
            color: var(--palette-primary-main);
            width: 37.50vw;
        }
        &__main-frame{
            height: 38.28vw;
            margin-top: var(--margin-top-75);
        }
        &__frame, &__overlay{
            width: 23.54vw;
            height: 13.23vw;
        }
        &__div{
            display: flex;
            justify-content: space-between;
            width: 75vw;
        }
    }

    width: 100%;
    font-weight: var(--typography-fontWeightLight);
    &__title{
        letter-spacing: 5px;
        font-family: var(--typography-fontFamily-headings);
        color: var(--palette-secondary-light);
    }
    &__container{
        @extend %flex-spase-between-G;
        width: 100%;
        position: relative;
    }
    &__counter{
        @extend %flex-center-G;
        width: 100%;
    }
    &__span{
        background-color: var(--palette-tertiary-dark);
        border-radius: 50%;
    }
    &__form{
        @extend %flex-spase-between-G;
    }
    &__main-frame{
        width: 100%;
    }
    &__arrow{
        cursor: pointer;
    }
    &__span-1{
        background-color: var(--palette-primary-main);
    }
    &__frame{
        pointer-events: none;
        position: relative;
    }
    &__overlay{
        position: absolute;
        top:0;
    }
    &__overlay-1{
        left: 0;
    }
    &__overlay-3{
        right: 0;
    }
}