@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Forum&display=swap');


$font-forum: "Forum", serif;
$font-roboto: 'Roboto', sans-serif;
$color-gold: rgba(157, 134, 101, 1);
$color-red: rgba(113, 7, 7, 1);
$color-black-1: rgba(3, 3, 3, 1);
$color-grey: rgba(164, 164, 163, 1);

%flex-spase-between-G{
    display: flex;
    justify-content: space-between;
}
%border{
    height: 45px;
    display: block;
    color:$color-black-1;
    @extend %font;
}
%font{
    font-weight: 400;
    font-size: 18px;
    line-height: 21.09px;
}

.flexBetween{
    @extend %flex-spase-between-G;
}
.b1{
    background-color: $color-black-1;
    color:white;
    font-size: 20px;
    cursor: pointer;
}
.b2{
    background-color: $color-black-1;
    width: 32px;
    height: 20px;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    color: $color-grey;
    @extend %font;
}
.block{
    width: 35px;
    height: 25px;
    border: 1px solid $color-black-1;
    @extend %font;
    display: flex;
    align-items: center;
    justify-content: center;
}
.size1{
    width: 15px;
    height: 15px;
}
.font2{
    margin-left: 10px;
    font-weight: 300;
}
.font3{
    font-weight: 400;
    font-size: 22px;
    line-height: 25.78px;
    margin-left: 10px;
}
.font4{
    font-weight: 400;
    font-size: 12px;
    line-height: 14.06px;
}
.card{
    position: absolute;
    width: 360px;
    height: 211px;
}
.input{
    height: 35px;
    border: 0.5px solid $color-grey;
    font-weight: 400;
    font-size: 12px;
    line-height: 14.06px;
    color: rgba(22, 22, 21, 1);

}
.input-style{
    border: 1px solid $color-black-1;
    height: 45px;
    width: 190px;
}
.input-style2{
    border: 1px solid $color-black-1;
    height: 45px;
    width: 400px;
}
.mt-20{
    margin-top: 20px;
}
.border{
    @extend %border;
}
.flex-center-V{
    display:flex; 
    align-items: center;
}
#input1::before{
    content:url('../src/img/date.png');
    width: 15px;
}
#input1::after{
    content: url('../img/arrow.png');
    width: 17px;
}
#input2::before{
    content:url('../src/img/Time.png');
    width: 15px;
}
#input2::after{
    content: url('../img/arrow.png');
    width: 17px;
}
#input3::before{
    content:url('../src/img/name.png');
    width: 13px;
}
#input4::before{
    content:url('../src/img/email.png');
    width: 15px;
}
#input5::before{
    content:url('../src/img/tel.png');
    width: 14px;
}
#input6::before{
    content:url('../src/img/ballot.png');
    width: 15px;
}
#input6::after{
    content: url('../img/arrow.png');
    width: 17px;
}
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
   
select::-ms-expand {
    display: none;
}

body{
    height: 845px;
    width: 1440px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: $font-roboto;
    color: $color-black-1;

    #d1{
        width: 970px;
        height: 663px;
        @extend %flex-spase-between-G;

        img{
            width: 85px;
            height: 41px;
        }
    }
    input[type=date], input[type=time]{
        width: 140px;
    }

    input::-webkit-calendar-picker-indicator{
        opacity: 0;
    }

    input, select{
        width: 400px;
        @extend %border;
        border: none;
        height: 40px;
    }
}


#title{
    font-family: $font-forum;
    font-size: 50px;
    font-weight: 400;
    line-height: 55.2px;
    color: $color-gold;
}
#title2{
    font-family: $font-forum;
    font-size: 18px;
    font-weight: 400;
    line-height: 19.87px;
    color: $color-gold;
    margin-top: 5px;
}
.title3{
    font-weight: 500;
    font-size: 32px;
    line-height: 37.5px;
}
#title4{
    font-weight: 500;
    font-size: 22px;
    line-height: 25.78px;
    color:$color-red;
}
#d2{
    margin-top: 15px;
    color:$color-red;
    @extend %font;
}
#b3{
    margin-top: 285px;
    margin-left: 250px;
    background-color: $color-red;
    color:white;
    font-weight: 400px;
    width: 220px;
    height: 45px;
}